html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #3b3b3b;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 1.04em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

::-webkit-scrollbar
{
    width: 8px;  /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: rgba(32, 0, 63, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(32, 0, 63, 0.8);
    border-radius: 10px;
}

iframe {
    border: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #2d626c;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

form,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

li::before { /* the custom styled bullets */
    background-color: #2d626c;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
    height: 5px;
    width: 5px;
}

.clear {
    clear: both;
}

ul.g-list li {
    float: left;
    margin-left: 4px;
}

ul.g-list li::before {
    content: none;
}

.l-container {
    margin: 0 auto;
    width: 960px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.separator {
    border-bottom: 1px solid #000000;
}

.none {
    display: none;
}

.block {
    display: block;
}

#lHeader {
    color: #ffffff;
    height: 140px;
    position: relative;
    background-image: url(../img/lHeader.png);
}

.l-header-logo {
    padding-top: 16px;
    position: relative;
    display: block;
    z-index: 999;
}

.l-header-content {
    position: relative;
    z-index: 999;
}

.l-header-law {
    background-image: url(../img/headerLaw.png);
    position: absolute;
    width: 445px;
    height: 87px;
    margin-left: 85px;
}

.l-header-check {
    background-image: url(../img/headerCheck.png);
    width: 278px;
    height: 140px;
    margin-left: 89px;
    position: absolute;
}

.h-title {
    font-size: 1.56em;
    color: #fefefe;
    line-height: 25px;
    text-shadow: 1px 2px 3px black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.h-cons {
    font-size: 1em;
    text-shadow: 0 0 1px #c9c9c9;
    color: #c9c9c9;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.h-title-container {
    margin-top: 80px;
    margin-left: 25px;
}

.h-body-container {
    position: absolute;
    margin-top: 40px;
    margin-left: 380px;
    width: 400px;
    word-break: break-all;
    word-wrap: break-word;
}

#lContent {
    min-height: 450px;
}

.lc-content {
    position: relative;
    padding: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: -1px 5px 9px -1px rgba(0, 0, 0, 0.23);
}

.l-main-menu {
    margin-bottom: 24px;
    height: 50px;
    border: 1px solid #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.75em;
    color: black;
}

.l-main-menu > .menu {
    line-height: 50px;
    display: block;
}

.l-main-menu > .menu > li {
    float: left;
    position: relative;
    display: block;
    margin: 0;
}

.l-main-menu > .menu > li::before {
    content: none;
}

.l-main-menu > .menu > li > a {
    position: relative;
    padding: 17px 30px;
}

.l-main-menu > .menu > li > a:hover {
    background: #190032;
    color: #f6f6f6;
}

.side-menu > li {
    margin: 0;
    text-align: center;
    height: 82px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 11.8pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 14.4px;
}

.side-menu > li::before {
    content: none;
}

.side-menu li a {
    position: relative;
    padding: 34px 0;
    /*line-height: 82px;*/
    display: block;
}

.side-menu li span {
    display: block;
    padding: 27px 0;
    position: relative;
}

.c-left-cont {
    width: 120px;
    overflow: hidden;
}

.c-center-cont {
    width: 540px;
    height: 410px;
    overflow: hidden;
}

.c-center-cont > div {
    margin: 0px 17px;
    border-bottom: 1px solid #e5e5e5;
}

.c-right-cont {
    width: 300px;
    overflow: hidden;
}

.l-cont-head {
     position: relative;
     display: block;
    margin-bottom: 25px;
 }

.l-cont-body {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.l-cont-footer {
    position: relative;
    display: block;
    margin-top: 20px;
}

.c-bot-center-cont {
    margin-left: 7px;
    margin-right: 7px;
}





























#lFooter {
    background: rgba(29, 29, 29, 0.92);
    /* color: #000000; */
}

.l-footer {
    height: 370px;
    color: #8a8a8a;
    text-shadow: 0 0 1px #79787882;
}












.l-footer-law {
    background-image: url(../img/headerLaw.png);
    position: absolute;
    width: 445px;
    height: 87px;
    margin-left: 85px;
}

.l-footer-back {
    background-image: url(../img/headerCheck.png);
    width: 278px;
    height: 140px;
    position: absolute;
}

.l-footer-logo {
    padding-top: 16px;
    padding-left: 10px;
    position: relative;
    display: block;
    z-index: 999;
}

.l-footer-title {
    position: relative;
    z-index: 999;
    margin-left: 16px;
}

.lf-title-link {
    margin-bottom: 30px;
    font-size: 0.558em;
}

.lf-text {
    margin-bottom: 30px;
    font-size: 0.858em;
}

.f-title {
    font-size: 1.56em;
    color: #fefefe;
    line-height: 25px;
    text-shadow: 1px 2px 3px black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.f-cons {
    font-size: 1em;
    text-shadow: 0 0 1px #86868682;
    margin-top: -10px;
    color: #c9c9c9;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.lf-text-p {
     width: 150px;
}

.lf-text-c {
    width: 160px;
}

.l-footer-top {
    margin-top: 33px;
}

.l-footer-content {
    height: 320px;
}

.l-footer-bottom {
    border-top: 1px solid #484848;
    height: 40px;
    line-height: 45px;
}

.copyright {
    margin-left: 30px;
    font-size: 0.758em;
    text-shadow: none;
}

.footer-social {
    margin-right: 150px;
    margin-top: 4px;
}

.foot-menu > li::before {
    content: none;
}

.foot-menu > li {
    border-top: 1px solid #484848;
    border-bottom: 1px solid #000000;
    padding-right: 50px;
}

.foot-menu > li:first-child {
    border-top: 0px;
    border-bottom: 1px solid #000000;
}

.foot-menu > li:last-child {
    border-top: 1px solid #484848;
    border-bottom: 0px;
}

.foot-menu > li {
    margin-bottom: 0;
}

.foot-menu > li>a {
    line-height: 47px;
}

.l-foot-left {
    margin-right: 90px;
}

.l-foot-center {
    margin-right: 210px;
}