<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="FastCGI" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="P:\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
